// Custom styles.
//body{   
//        background:url(https://source.unsplash.com/random);
//        background-size:cover;
//        background-repeat:no-repeat;
//       background-attachment:fixed;
//        background-position:center;
//     }

//.main-inner { 
//    margin-top: 60px;
//    padding: 60px 60px 60px 60px;
//    background: #fff;
//    min-height: 500px;
//}